<mat-sidenav-container class="app-sidenav-container">

  <mat-sidenav class="app-sidenav " [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' :'side'" mdbWavesEffect #sidenav>
    <!-- style="background-color:rgba(37, 151, 226, 0.863);" -->

    <mat-toolbar>
      <div class="sidebar-background" style="background-image: url('/assets/img/sidebar-3.jpg')">
        <i class="material-icons">home</i>

        <img src="/assets/yasn logo.jpeg" id="company_logo" class="profile-image img-circle">
      </div>

    </mat-toolbar>

    <div *ngIf="authService.isLoggedIn()" class="app-sidenav-content">

      <mat-list>

        <mat-nav-list>
          <a mat-list-item [routerLink]="['invoice-generate' ]">
            <!-- [routerLink]= "[  {outlets: {incoice: ['invoice-create'] }} ]" -->
            <!-- <i class="fa fa-fw fa-address-book" ></i> -->
            <mat-icon>payment</mat-icon>
            <span class="nav-caption">Facturer</span>
          </a>

          <!-- [routerLink]= "[ '/modlaunch', {outlets: {modal: ['modlaunch'] }} ]" -->
          <div *ngIf="authService.isAdmin()">

            <a mat-list-item [routerLink]=[link.url] *ngFor=" let link of links; let i = index">
              <mat-icon>{{link.icon}}</mat-icon>
              <!-- <mat-icon >{{link.icon}}</mat-icon> -->
              <span class="nav-caption">{{link.name}}</span>
            </a>
          </div>
        </mat-nav-list>
      </mat-list>
    </div>

  </mat-sidenav>
  <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
  <!-- <router-outlet name="modal"></router-outlet> -->
  <div fxFlexAlign="center">
    <div fxLayout="row" *ngIf="!authService.isLoggedIn()" fxLayout="full">
      <div class="alert alert-danger alert-with-icon " role="alert" style="text-align: center; align-content: center; background-color: tomato; color: snow">
        Vous êtes deconnecté, essayez de vous connecter à nouveau!
      </div>
      <div>
        <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="true" interval="2000" [keyboard]="true" [pauseOnHover]="true"
          [wrap]="true">
          <!-- [activeId]="'secondSlide'" -->
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/img/sidebar-2.jpg" alt="Angular Carousel 1">
              <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>

          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/img/sidebar-1.jpg" alt="Angular Carousel 2">
              <div class="carousel-caption">
                <h3>La solution logicielle</h3>
                <p>Conservez vos donnees</p>
              </div>
            </div>

          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/img/sidebar-3.jpg" alt="Angular Carousel 2">
              <div class="carousel-caption">
                <h3>Goutez la difference</h3>
                <p>Nous allons vous surprendre.</p>
              </div>
            </div>

          </ng-template>
          <ng-template ngbSlide>
            <div class="picsum-img-wrapper">
              <img src="/assets/yasn logo.jpeg" alt="Angular Carousel 2">
              <div class="carousel-caption">
                <h3>Titre ici</h3>
                <p>Planifiez vos journees</p>
              </div>
            </div>

          </ng-template>
        </ngb-carousel>
      </div>


    </div>
    <div *ngIf="authService.isLoggedIn()" style="background-color: rgb(230, 227, 227)">
      <!-- <mat-card> -->
      <router-outlet></router-outlet>
      <!-- </mat-card> -->
      <!-- <router-outlet name="invoice"></router-outlet> -->


    </div>

  </div>

<footer>
  <app-footer ></app-footer>
</footer>
</mat-sidenav-container>

