

<mat-sidenav-container class="app-sidenav-container" >

          <mat-sidenav class="app-sidenav " [opened]="!isScreenSmall()" [mode]="isScreenSmall() ? 'over' :'side'" mdbWavesEffect #sidenav>
            <!-- style="background-color:rgba(37, 151, 226, 0.863);" -->

            <mat-toolbar>
              <div class="sidebar-background" style="background-image: url('/assets/img/sidebar-2.jpg')">
                <i class="material-icons">home</i>
                <img src="/assets/yasn logo.jpeg" id="company_logo" style="height: 60px; width: 60px">
              </div>
            </mat-toolbar>

            <div *ngIf="authService.isLoggedIn()">
                <mat-list >
                  <mat-nav-list >
                        <a mat-list-item
                        [routerLink]= "['invoice-generate' ]"

                         >
                         <!-- [routerLink]= "[  {outlets: {incoice: ['invoice-create'] }} ]" -->
                          <!-- <i class="fa fa-fw fa-address-book" ></i> -->
                          <mat-icon>payment</mat-icon>
                          <span class="nav-caption">Facturer</span>
                        </a>

                        <!-- [routerLink]= "[ '/modlaunch', {outlets: {modal: ['modlaunch'] }} ]" -->
                    <div   *ngIf="authService.isAdmin()">

                      <a mat-list-item [routerLink]=[link.url] *ngFor=" let link of links; let i = index" >
                              <mat-icon>{{link.icon}}</mat-icon>
                              <!-- <mat-icon >{{link.icon}}</mat-icon> -->
                              <span class="nav-caption">{{link.name}}</span>
                      </a>
                    </div>
                  </mat-nav-list>
                </mat-list>
                </div>

          </mat-sidenav>
          <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
          <!-- <router-outlet name="modal"></router-outlet> -->
          <div fxLayout="column" fxFlexFill style="justify-content: center">
            <div  *ngIf="authService.isLoggedIn()">
              <mat-card>
               <router-outlet></router-outlet>
               </mat-card>
               <!-- <router-outlet name="invoice"></router-outlet> -->


            </div>
            <div fxLayout="column" *ngIf="!authService.isLoggedIn()">
                <div class="alert alert-danger alert-with-icon " role="alert" style="text-align: center; align-content: center">
                    Vous êtes deconnecté, essayez de vous connecter à nouveau!
                  </div>
                  <div class="jumbotron jumbotron-fluid">

                      <div fxLayout="column">
                        <div class="row">
                          <div class="col-md-10 offset-md-1">
                              <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                                  <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src="/assets/img/sidebar-2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                      <img src="/assets/img/sidebar-2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                    <div class="carousel-item">
                                      <img src="/assets/img/sidebar-2.jpg" class="d-block w-100" alt="...">
                                    </div>
                                  </div>
                                </div>
                          </div>
                        </div>
                      </div>
                    </div>

            </div>
          </div>









</mat-sidenav-container>

