<div>
    <div class="content-wrapper" style="height: 20px;margin: 5px;">
      <section class=" content-header">
        <div  style="text-align: center">
          <h1>
            <strong>
            Facture A Imprimer
          </strong>
          </h1>
          <ol class="breadcrumb "></ol>
        </div>
      </section>
      <section
        id="print-section"
        class="content "
        *ngIf="invoice"
      >
        <div  id="invoice_main">
          <div id="invoice_body">
            <!--invoice display starts
              this serve to hold the customer name and company name
              here-->
            <div
              class="d-flex justify-content-between col-10"
              id="invoice_box"
              style="margin-top:10px"
              #invoiceBox
            >
              <!--head row-->

                  <mat-card  *ngIf="theCompany" id="box_company">
                    <div style="font-size: 12px;">
                      <strong>{{ theCompany.nameCompany }}</strong>
                      <br />
                      <span>Adresse:&nbsp;{{ theCompany.adressCompany }}</span>
                      <br />
                      <span>Code IFU:&nbsp;{{ theCompany.codeIfuCompany }}</span>
                      <br />
                      <span>Tel:&nbsp;{{ theCompany.phoneCompany }}</span>
                    </div>
                  </mat-card>
                  <!-- <div class="col-1"></div> -->
                  <!--center section serves to hold the logo-->
                  <div >
                    <img src="/assets/yasn logo.jpeg" id="company_logo" />
                    <br />
                  </div>
                  <!-- <div class="col-1"></div> -->
                  <!--right section-->
                  <mat-card
                    id="box_client"
                    style="font-size: 12px;"
                  >
                    <strong>FACTURE N :&nbsp;{{ invoice.invoiceRef }}</strong>
                    <br />
                    <span> Client:&nbsp;{{ invoice["client"].nameClient }} </span>
                    <br />
                    <span>
                      Contacts:&nbsp;{{ invoice["client"].phoneClient }}
                    </span>
                  </mat-card>
            </div>
            <br>
            <!--table section-->
            <div class="col-10" id="invoice_table" *ngIf="invoice">
              <table class="table">
                <thead
                  style="background-color: rgba(0, 183, 219, 0.68);height:20px;padding-left:10px"
                >
                  <th>Produit</th>
                  <th>Description</th>
                  <th>Quantite</th>
                  <th>Prix</th>
                  <th>Montant</th>
                </thead>
                <tbody>
                  <tr
                    *ngFor="let tx of invoice['transactionLines']; let i = index"
                    [ngClass]="
                      i == invoice['transactionLines'].length - 1
                        ? 'row-divide'
                        : ''
                    "
                  >
                    <!-- <td style="padding-left:20px">{{tx['produit'].codeProd}}</td> -->
                    <td style="padding-left:20px">
                      {{ tx["produit"].codeProd }}
                    </td>
                    <td style="padding-left:20px">
                      {{ tx["produit"].descProduit }}
                    </td>
                    <td style="padding-left: 20px;">{{ tx.quantity }}</td>
                    <td style="padding-left: 20px;">{{ tx.sellPrice }}</td>
                    <td style="padding-left: 20px;">
                      {{
                        tx.transAmount | number
                      }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="col-10">
            <div class="d-flex justify-content-end">
              <!-- <div class="col-1"></div> -->
              <div id="boxTotal">
                <mat-card style="border: 2px solid #1a1e25;padding-left: 20px;">
                  <div class="row">
                    <strong>Total Brut: </strong>
                    <div>
                      &nbsp;{{
                        invoice.totalInvoice
                          | currency: "XOF ":"symbol-narrow":"1.2-2"
                      }}
                    </div>
                  </div>
                  <div class="row">
                    Remise:
                    <div></div>
                  </div>
                  <div class="row">
                    Total TVA:
                    <div></div>
                  </div>

                  <div class="row">
                    <strong>Total Net: </strong>
                    <div>
                      &nbsp;{{
                        invoice.totalInvoice
                          | currency: "XOF ":"symbol-narrow":"1.2-2"
                      }}
                    </div>
                  </div>
                </mat-card>
              </div>
            </div>
          </div>
            <div class="d-flex justify-content-end col-10">
              <button
                type="button"
                class="btn btn-success"
                printSectionId="invoice_body"
                [useExistingCss]="true"
                ngxPrint
                >
                Print
              </button>
               <!-- (click)="printInvoice()"
                [routerLink]="[{outlets:{printmenu:['product']}}]" -->




              <button
                type="button"
                class="btn btn-success"
                (click)="downloadPDF()"
              >
                <i class="fa fa-download" aria-hidden="true"></i>&nbsp;Download as
                PDF
              </button>
            </div>
          </div>
        </div>
      </section>
      <ng-template #noInvoice>
        <mat-card>
          <div class="alert alert-success" role="alert">
            Aucune Facture a imprimer
          </div>
          <ng-template #boxTotal></ng-template>
          <a class="btn btn-lg btn-info" routerLink="..">Ok</a>
        </mat-card>
      </ng-template>
    </div>
  </div>


