#invoice_box {
  background-color: #fff;
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

#invoice_table {
  background-color: azure;
  font-size: 10px;
}

#company_logo {
  margin-top: 1px;
  margin-left: 1px;
  width: 100px;
  height: 100px;

}
#box_company{
  border-color: black;
  border-radius: 5px;
  border: 2px solid black;

}

.row-divide {
  border-bottom: 1px solid black;
}

#box_client{
  border-color: black;
  border-radius: 5px;
  border: 2px solid black;

}
.mat-card{
  border-block-end: 1px;

}
