  <mat-card class="flex-row" style="justify-content: center">
    <div class="row">
      <div class="flex flex-column">
        <div class="card">
          <div class="card-header bg-info text-white">
            {{ operation == 'add' ? 'Parametrer une Societe' : operation == 'edit' ? 'Modifier Societe' : operation == 'remove'  }}
          </div>
          <div class="card-body">

            <div *ngIf="operation == 'add'|| operation =='edit'">
              <form [formGroup]="companyForm">

                <div >
                  <div class="form-group" >
                    <label>Nom de la Societe</label>
                    <input  type="text" formControlName="nameCompany" class="form-control" />
                    <label>Adresse</label>
                    <input  type="text" formControlName="adressCompany" class="form-control" />
                    <label>Telephone</label>
                    <input  type="text" formControlName="phoneCompany" class="form-control" />
                    <label>Code IFU</label>
                    <input  type="text" formControlName="codeIfuCompany" class="form-control" />
                          <mat-card style="text-align: center " class="col-4">
                              <label>Logo</label>
                            <span *ngIf="theCompany" >
                              <!-- *ngIf="getImageUrl() | async" -->
                            <img  src={{theCompany.logoCompany}} class=" logo-img img-fluid img-thumbnail" style="height: 80px; width:80px;"  >
                            <mat-icon class="mat-18">add</mat-icon>
                            <input [hidden]="true" type="file" name="logoCompany2" accept="image/png, image/jpeg, image/jpg" (change)="checkUpFile($event)">
                          </span>
                          <button mat-mini-fab mdbBtn color="success">
                            <mat-icon class="mat-18">add_a_photo</mat-icon>
                          </button>
                          <!-- <mat-form-field>
                            <ngx-mat-file-input formControlName="logoCompany" placeholder="logoCompany" ></ngx-mat-file-input>
                            <mat-icon matSuffix>add_a_photo</mat-icon>
                          </mat-form-field> -->
                          </mat-card>

                    <mat-card>

                      <!-- <app-form-upload></app-form-upload> -->
                            <div class="card card-primary " >

                              <div *ngIf="currentFileUpload" class="progress">
                                <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progres.percentage}}"
                                  aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progres.percentage+'%'}">
                                  {{progres.percentage}}%</div>
                              </div>

                              <label class="btn btn-default">
                                <input [hidden]="true" type="file" name="logoCompany" accept="image/png, image/jpeg, image/jpg" (change)="checkUpFile($event)">
                              </label>
                              <button class="btn btn-success" [disabled]="!selectionFiles" (click)="onSubmit()">Appliquer</button>
                            </div>

                    </mat-card>

                    <!-- <input  type="file" formControlName="logoCompany" class="form-control" /> -->
                  </div>
                </div>

                <button class="btn btn-success" [disabled]="companyForm.pristine || companyForm.invalid" (click)="operation == 'add' ? add() : update()">
                  {{operation == 'add' ? 'Ajouter' : operation == 'edit' ? 'Modifier' : ''}}
                </button>
              </form>
            </div>


          </div>
          <div class="card-footer bg-info"></div>
        </div>
      </div>
    </div>
  </mat-card>

