

.mat-toolbar {
  padding: .2em 1em;
  border-spacing: 5px;
  max-height: 50px;
  background-color:rgba(6, 105, 170, 0.863);
  // background-color:rgba(184, 215, 235, 0.863);
  background-image: url('/assets/img/sidebar-1.jpg') ;
  // color:rgba(4, 10, 65, 0.808);
  font-display: block;
  color: ghostwhite;
  display: mat-elevation-z8;
}
/* ==========================================================================
Navbar
========================================================================== */

.profile-image {
  margin: -10px 0px;
  height: 40px;
  width: 40px;
  border-radius: 90%;
  border-color: rgb(16, 15, 17);
}



/* ==========================================================================
Logo styles
========================================================================== */


// .profile-img {
//   height: 60px;
//   //  background-image: url("http://localhost:8089/uploads/myProfile (1) (1).jpeg") no-repeat center center;
//   background-size: contain;
//   width: 60px;
//   border-radius: 90%;
// }
