

// .toolbar-content{
//  $iconWidth: 20px;
// }
// .sidenav-toggle{
//   display: none;
//   width: $iconWidth;

// }

// @media(max-width: 720px){
//   display: flex;
//   align-items: center;
//   justify-content: center;
// }

// mat-icon{
//   font-size: 30px;
//   height: $iconWidth;
//   width: $iconWidth;
//   line-height: $iconWidth;
//   columns: white;
// }

.mat-toolbar {
  padding: .2em 1em;
  border-spacing: 20px;
  // border-block-end: #353d47;
  // background-color: #353d47;
  background-color:rgba(37, 151, 226, 0.863)
}
/* ==========================================================================
Navbar
========================================================================== */

.profile-image {
  margin: -10px 0px;
  height: 40px;
  width: 40px;
  border-radius: 90%;
  border-color: rgb(17, 15, 15);
}

.dropdown-item.active,  .dropdown-item.active:focus,.dropdown-item.active:hover {
  background-color: #fff;
}

.dropdown-toggle::after {
  margin-left: 0.15em;
}

 ul.navbar-nav {
  padding: 0.5em;
}

 .navbar-nav .nav-item {
  margin-left: 1.5rem;
}

 a.nav-link {
  font-weight: 200;
}

 .jh-navbar-toggler {
  color: #ccc;
  font-size: 1.5em;
  padding: 10px;
}

.jh-navbar-toggler:hover {
  color: #fff;
}

@media screen and (min-width: 768px) {
  .jh-navbar-toggler {
      display: none;
  }
}

@media screen and (max-width: 992px) {
  .jh-logo-container {
      width: 100%;
  }
}

.navbar-title {
  display: inline-block;
  vertical-align: middle;
}

/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand.logo {
  padding: 5px 15px;
}

.logo .logo-img {
  height: 45px;
  display: inline-block;
  vertical-align: middle;
  width: 70px;
}

.logo-img {
  height: 100%;
   background: url("/assets/yasn\ logo.jpeg") no-repeat center center;
  background-size: contain;
  width: 100%;
  border-radius: 90%;
}
