<div class="align-content-between">
    <div class="content-header ">
      Nouvelle Facture
    </div>

      <mat-card class="card-body" style="padding-inline-end: 1px">

                <form
                  [formGroup]="invoiceForm"
                  novalidate
                  (ngSubmit)="save(invoiceForm.value, invoiceForm.valid, $event)"

                >
                             <mat-card>
                <div class="form-group form-inline">
                  <label class="col-md-1 ">Client: </label>
                  <select
                    required
                    class="form-control col-md-2"
                    formControlName="client"
                  >
                    <option *ngFor="let c of receiveData.clients" [value]="c.id">
                      - <strong> {{ c.nameClient }} </strong> -
                    </option>
                  </select>
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <mat-icon>search</mat-icon>
                        <button type="button">...</button>
                      </div>
                    </div>

                  <label class="col-md-1 ">Mode: </label>
                  <select
                    required
                    class="form-control"
                    formControlName="payMode"
                  >
                    <option  *ngFor="let mode of modes" [value]="mode" [label]="payMode[mode]"></option>
                  </select>
                      <label type="text">Date</label>
                      <input required class="form-control" type="date" [value]="today | date:'dd-MM-yyyy'" formControlName="dateTrans" />

                      <div class="input-group-prepend">


                      <label type="text">Total</label>
                    <div class="input-group-prepend">
                        <div class="input-group-text">XOF</div>
                      </div>
                      <input name="GTotal"   readonly>

                    <div >
                      <button mat-mini-fab color="primary" (click)="generateBill()">
                          <mat-icon class="mat-18">add</mat-icon>
                      </button>
                    </div>
                  </div>

                    </div>


              </mat-card>



                </form>

              </mat-card>
              <mat-card style="align-content: center center" >
                    <table class="mat-elevation-z8 table-hover table-striped" mat-table  [dataSource]="dataSource" >

                        <ng-container matColumnDef="categorie">
                            <th mat-header-cell *matHeaderCellDef > Categorie </th>
                            <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                          </ng-container>

                        <ng-container matColumnDef="produit">
                            <th fxLayout fxFlex="60px" mat-header-cell *matHeaderCellDef > Produit </th>
                            <td mat-cell *matCellDef="let element"> {{element.produit}} </td>
                          </ng-container>

                          <ng-container matColumnDef="quantite">
                              <th mat-header-cell *matHeaderCellDef > Quantite </th>
                              <td mat-cell *matCellDef="let element"> {{element.quantite}} </td>
                            </ng-container>
                        <ng-container matColumnDef="prixUnit">
                            <th mat-header-cell *matHeaderCellDef> P U </th>
                            <td mat-cell *matCellDef="let element"> {{element.prixUnit}} </td>
                        </ng-container>

                          <ng-container matColumnDef="totalInvoice">
                              <th mat-header-cell *matHeaderCellDef > Montant </th>
                              <td mat-cell *matCellDef="let element"> {{element.totalInvoice}} </td>
                            </ng-container>

                                <ng-container matColumnDef="delete">
                                    <th mat-header-cell *matHeaderCellDef> Supprimer </th>
                                    <td mat-cell *matCellDef="let element">
                                      <button mat-icon-button color="warn" (click)="onInvoiceDelete(element.id)">
                                          <mat-icon class="mat-18">delete</mat-icon>
                                      </button>
                                    </td>
                                  </ng-container>
                                  <span></span>
                      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                      </table>
                      <div *ngIf="noData | async" class="no-records">
                          Aucun produit facturé pour le moment
                        </div>
              </mat-card>
  </div>


  <!-- <div class="card-group">
      <div class="col-3">
        <div class="form-group" >
            <label >Client: </label>
            <select
            required
            class="form-control "
            formControlName="client"

          >
            <option *ngFor="let c of clients" [value]="c.id">
              - <strong> {{ c.nameClient }} </strong> -

            </option>
          </select>

          </div>

      </div>
      <mat-icon >search </mat-icon>
      <div class="form-group ">
            <button type="button">...</button>
      </div>


        <div class="form-inline">
                  <label >Mode Paiement: </label>
                  <select
                  required
                  class="form-control"
                  formControlName="payMode"
                  style="min-width: 90%;"
                >
                  <option  *ngFor="let mode of modes" [value]="mode" [label]="payMode[mode]"></option>
                </select>
        </div>

        <div class="form-inline">
            <label type="text">Date</label>
            <input required class="form-control" type="date" [value]="today | date:'dd-MM-yyyy'" formControlName="dateTrans" />
        </div>


  </div> -->
