<mat-card class="main-card">
  <mat-card-title class="content-header ">
    <div class="main-card">
      <mdb-breadcrumb customClass="cyan lighten-4">
        <mdb-breadcrumb-item>Factures</mdb-breadcrumb-item>
        <mdb-breadcrumb-item class="active">Nouvelle </mdb-breadcrumb-item>
      </mdb-breadcrumb>
    </div>
  </mat-card-title>

  <mat-card-content>
    <mat-card class="container-fluid ">
      <div class="box box-primary">
        <div class="basic-container">
          <mat-card>
            <form
              [formGroup]="invoiceForm"
              novalidate
              (ngSubmit)="save(invoiceForm.value, invoiceForm.valid, $event)"

            >
              <!--customer list-->
              <mat-card>
                <div class="form-group form-inline">
                  <label class="col-md-1 ">Client: </label>
                  <select
                    required
                    class="form-control"
                    formControlName="client"
                  >
                    <option *ngFor="let c of clients" [value]="c.id">
                      <strong> {{ c.nameClient }} </strong> -
                      <em> {{ c.phoneClient }} </em>
                      <!-- {{c.nameClient}} -->
                    </option>
                  </select>
                  <!-- <div class="form-control" >
                  <label >REF:</label>
                    <label >{{invoice.invoiceRef}}</label>
                </div> -->
                  <!-- <div class="input-group"> -->
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <button type="button">...</button>
                      </div>
                    </div>

                  <label class="col-md-1 ">Mode: </label>
                  <select
                    required
                    class="form-control"
                    formControlName="payMode"
                  >
                    <option  *ngFor="let mode of modes" [value]="mode" [label]="payMode[mode]"></option>
                  </select>
                      <label type="text">Date</label>
                      <input required class="form-control" type="date" [value]="today | date:'dd-MM-yyyy'" formControlName="dateTrans" />
                </div>
              </mat-card>

              <!-- Start form units array with first row must and dynamically add more -->
              <mat-card formArrayName="items">
                <mat-card-title>Produits Vendus</mat-card-title>
                <mat-divider></mat-divider>

                <!-- loop throught units -->
                <div
                  *ngFor="
                    let unit of invoiceForm['controls'].items['controls'];
                    let i = index
                  "
                >
                  <!-- row divider show for every nex row exclude if first row -->
                  <mat-divider
                    *ngIf="
                      invoiceForm.controls.items.controls.length > 1 && i > 0
                    "
                  ></mat-divider>
                  <!-- <br /> -->

                  <!-- group name in this case row index -->
                  <div [formGroupName]="i">
                    <div
                      fxLayout="row"
                      fxLayout.xs="column"
                      fxLayoutWrap
                      fxLayoutGap="3.5%"
                      fxLayoutAlign="center"
                    >
                      <!-- unit name input field -->

                      <mat-form-field fxFlex.xs="20%">
                        <mat-label>Categorie</mat-label>
                        <select
                          matNativeControl
                          required
                          formControlName="category"
                        >
                          <option
                            *ngFor="let category of categories"
                            [value]="category.nameCategory"
                          >
                            {{ category.nameCategory }}</option
                          >
                        </select>
                      </mat-form-field>

                      <mat-form-field fxFlex.xs="20%">
                        <mat-label>Code Produit</mat-label>
                        <select
                          matNativeControl
                          required
                          formControlName="codeProd"
                        >
                          <option
                            *ngFor="
                              let i = index;
                              let produit;
                              of: filteredProduits[i]
                            "
                            [value]="produit.codeProd"
                          >
                            {{ produit.codeProd }}</option
                          >
                        </select>
                      </mat-form-field>
                      <!-- unit quantity input field -->
                      <mat-form-field
                        fxFlex="10%"
                        fxFlex.xs="20%"
                        style="text-align: right"
                      >
                        <input
                          matInput
                          placeholder="Quantity"
                          type="number"
                          formControlName="quantite"
                          required
                        />
                      </mat-form-field>

                      <!-- unit price input field -->
                      <mat-form-field
                        fxFlex="20%"
                        fxFlex.xs="20%"
                        style="text-align: right"
                      >
                        <input
                          matInput
                          placeholder="Prix Unitaire"
                          type="number"
                          formControlName="prixUnit"
                          required
                        />
                      </mat-form-field>

                      <!-- unit total price input field, calculated and not editable -->
                      <!-- <div fxLayout.xs="row"> -->
                      <mat-form-field style="text-align: right">
                        <input
                          matInput
                          placeholder="Somme Totale"
                          formControlName="unitTotalPrice"
                        />
                      </mat-form-field>

                      <!-- row delete button, hidden if there is just one row -->
                      <button
                        type="button"
                        mat-mini-fab
                        color="warn"
                        fxFlex="nogrow"
                        *ngIf="invoiceForm.controls.items.controls.length > 1"
                        (click)="removeUnit(i)"
                      >
                        <mat-icon>delete forever</mat-icon>
                      </button>
                      <!-- </div> -->
                    </div>
                  </div>
                </div>

                <!-- New unit button -->
                <mat-divider></mat-divider>
                <mat-card-actions>
                  <button type="button" mat-raised-button (click)="addUnit()">
                    <mat-icon>add box</mat-icon>
                    Ajouter Produit
                  </button>
                </mat-card-actions>
              </mat-card>
              <!-- End form units array -->
              <br />
              <!-- Total price calculation formated with angular currency pipe -->
              <mat-card>
                Total price is
                {{ totalSum | currency: "XOF ":"symbol-narrow":"1.2-2" }}
              </mat-card>
              <!-- Form submit button enabled on if form is valid -->
              <!-- //*ngIf="!isSaved; else askPrint" -->
              <mat-card-actions>
                <button
                  mdbBtn
                  [disabled]="invoiceForm.invalid"
                  mdbWavesEffect
                  color="success"
                >
                  Submit
                </button>

              </mat-card-actions>
              <ng-template #askPrint>

                <div class="col-md-12">
                  <div class="alert alert-success" role="alert">
                    Facture sauvegardée avec succès !!
                  </div>
                  <a class="btn btn-lg btn-info" >OK</a>

                </div>
              </ng-template>

            </form>
          </mat-card>
        </div>
      </div>
    </mat-card>
  </mat-card-content>
</mat-card>

