
<div class="modal-header">
    <h4 class="modal-title" >Sign Up</h4>
    <mat-card style="text-align: center; justify-content: center " class="col-4">
    <span *ngIf="theCompany" >
    <img  src={{theCompany.logoCompany}} class="logo-img img-fluid img-thumbnail" style="height: 80px; width:80px;"  >

  </span>
  <input mat-mini-fab id="fileInput"
  mdbBtn type="file" [hidden]="true"  accept="image/png, image/jpeg, image/jpg"
  (change)="checkUpFile($event)" />
  <button mat-mini-fab
  mdbBtn
  (click)="openInput()"
  >
  <mat-icon>add_a_photo</mat-icon>
  </button>

  </mat-card>
    <button aria-label="Close" data-dismiss="modal" class="close" type="button"
    (click)="activeModal.dismiss('closed')" [tabIndex]=-1><span aria-hidden="true">x</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form class="form-signup"  #f="ngForm" (ngSubmit)="signup(f.value)">
              <div *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage}}
              </div>
              <div class="form-group">
                  <label for="name"  >Nom</label>
                  <input type="text" name="name" ngModel placeholder="name" class="form-control"
                >
              </div>
                <div class="form-group">
                    <label for="username"  >Nom Utilisateur</label>
                    <input type="text" name="username" ngModel placeholder="username" class="form-control"
                  >
                </div>
                <div class="form-group">
                    <label for="role"  >Role</label>
                    <select class="form-control" name="role" ngModel placeholder="Choose your option">
                      <option [ngValue]="r" *ngFor="let r of roles">
                        {{r}}
                      </option>
                    </select>
                    <!-- <mdb-select type="text" name="username" ngModel placeholder="username" class="form-control" -->
                  <!-- > -->
                </div>
                <div class="form-group">
                    <label for="email"  >Email</label>
                    <input type="email" name="email" ngModel placeholder="email" class="form-control"
                  >
                </div>
                <div class="form-group">
                    <label for="password" >Password</label>
                    <input type="password" name="password"  ngModel placeholder="password" class="form-control"
                    >
              </div>

                <button type="submit" class="btn btn-primary"  >Créer</button>
            </form>

        </div>
    </div>
  </div>


