<footer class="footer " style="background-image: url('/assets/img/sidebar-1.jpg')">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.owoo-group.com">
                        Owoo Group Inc.
                    </a>
                </li>
                <li>
                    <a href="https://owoo-group/about-us">
                        About Us
                    </a>
                </li>

            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{date | date: 'yyyy'}}, made with love by
            <a href="https://www.owoo-group.com" target="_blank">Owoo Group Inc</a> Making a difference.
        </div>
    </div>
</footer>
