<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://www.owoo-group.com">
                        Owoo Group Inc.
                    </a>
                </li>
                <li>
                    <a href="https://owoo-group/about-us">
                        About Us
                    </a>
                </li>
                <li>
                    <a href="http://blog.owoo-group.com">
                        Blog
                    </a>
                </li>
                <li>
                    <a href="https://www.owoo-group.com/license">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}}, made with love by
            <a href="https://www.owoo-group.com" target="_blank">Owoo Group Inc</a> Making a difference.
        </div>
    </div>
</footer>
